<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>rdashboard</display-name>
  <welcome-file-list>
   <welcome-file>rdashboard.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <security-constraint>
    <web-resource-collection>
      <web-resource-name>rdashboard</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>superadmin</role-name>
      <role-name>orgadmin</role-name>
      <role-name>owner</role-name>
	  <role-name>manager</role-name>
      <role-name>fielduser</role-name>
      <role-name>customeradmin</role-name>
      <role-name>admin</role-name>
      <role-name>administrator</role-name>
      <role-name>acf</role-name>
      <role-name>rfo</role-name>
	  <role-name>forester</role-name>
      <role-name>admin</role-name>
      <role-name>executive</role-name>
      <role-name>member</role-name>
	  <role-name>director</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>revelo35</realm-name>
  </login-config>
  <security-role>
    <role-name>superadmin</role-name>
  </security-role>
  <security-role>
    <role-name>orgadmin</role-name>
  </security-role>
  <security-role>
    <role-name>owner</role-name>
  </security-role>
   <security-role>
    <role-name>manager</role-name>
  </security-role>
  <security-role>
    <role-name>fielduser</role-name>
  </security-role>
  <security-role>
    <role-name>customeradmin</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>administrator</role-name>
  </security-role>
  <security-role>
    <role-name>acf</role-name>
  </security-role>
  <security-role>
    <role-name>rfo</role-name>
  </security-role>
  <security-role>
    <role-name>forester</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>executive</role-name>
  </security-role>
  <security-role>
    <role-name>member</role-name>
  </security-role>
	<error-page>
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>
</web-app>